.banner {
    height: 400px;
    width: 100%;

    object-fit: cover;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 2.5rem;
  }

  .info {
    display: flex;
    margin-top: 2rem;

    color: var(--info);

    time, p {
      display: inline-flex;
      align-items: center;
      font-size: 0.875rem;

      margin-right: 1.5rem;
    }

    .icon {
      margin-right: 10px;
    }
  }


  article {
    margin-top: 4rem;

    h1 {
      margin-bottom: 2.25rem;
      font-size: 2.25rem;
    }

    p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;

      color: var(--body);
    }

    a {
      color: var(--highlight);
    }
  }
}
